<template>
  <div class="home">
    <DataContainer v-for="(el,i) in json" :key="i" :json="json[i]" @openSettings="openSettings"></DataContainer>

    <SettingsContainer
      :show="isSettingsOpen"
      :settings="selectedSettings"
      @close="closeSettings()"
      @save="saveSettings()"/>
  </div>
</template>

<script>
import Vue from "vue";

import SettingsContainer from "@/components/settingsContainer.vue";
import DataContainer from "@/components/dataContainer.vue";

export default {
  name: "home",
  components: {
    DataContainer,
    SettingsContainer
  },
  data() {
    return {
      json: [
        {
          blockID: 12345,
          bName: "Желтый блок",
          bText:
            "Любая компания-производитель связывает с каждой своей новой моделью определенные надежды. Зачастую в связи с этим звучат громкие и красивые заявления - прорыв, революция, законодатель моды на ближайшее десятилетие... Но время тут - единственный по-настоящему объективный эксперт.",
          settings: [
            {
              ID: 34,
              Name: "Ширина",
              stringType: "int",
              filedType: "input",
              fieldValue: "600",
              fieldSize: 4
            },
            {
              ID: 35,
              Name: "Высота",
              stringType: "int",
              filedType: "input",
              fieldValue: "500",
              fieldSize: 4
            }
          ]
        },
        {
          blockID: 123,
          bName: "Желтый блок",
          bText:
            "Любая компания-производитель связывает с каждой своей новой моделью определенные надежды. Зачастую в связи с этим звучат громкие и красивые заявления - прорыв, революция, законодатель моды на ближайшее десятилетие... Но время тут - единственный по-настоящему объективный эксперт.",
          settings: [
            {
              ID: 33,
              Name: "Скрытое",
              stringType: "bool",
              filedType: "select",
              fieldValue: false,
              fieldSize: 4
            }
          ]
        }
      ],

      isSettingsOpen: false,
      selectedSettings: []
    };
  },
  computed: {},
  methods: {
    openSettings(id) {
      this.selectedSettings = this.blockSettings(id);
      this.isSettingsOpen = true;
    },
    blockSettings(id) {
      //console.log(this.json);
      let obj = this.json.find(block => {
        //console.log(block, this.settingsBlockId);
        return block.blockID == id;
      });
      if (obj) return obj.settings;

      return [];
    },
    closeSettings() {
      this.selectedSettings = [];
      this.isSettingsOpen = false;
    },
    saveSettings() {
      let params = JSON.stringify(this.json);
      Vue.axios.post('api/save', params);
    }
  }
};
</script>
