<template>
  <div class="data-container" :id="getIdContainer" @dblclick="isEditText = !isEditText">
    <div v-if="!isEditText" class="data-value" :id="getIdText">
      {{getValue}}
    </div>

    <textarea v-else class="data-value" v-model="text"></textarea>

    <div class="button bsettings" @click="openSettings(json.blockID)">Настройки</div>
  </div>
</template>

<script>
export default {
  props: {
    json: Object
  },
  data() {
    return {
      params: {  //это конечно лучше хранить в отдельном файле
        34: "width",
        35: "height",
        33: "display"
      },
      colorSettings: { //это конечно лучше хранить в отдельном файле
        12345: 'rgb(255, 254, 179)',
        123: 'rgb(255, 209, 231)'
      },
      text: '',
      isEditText: false,
    };
  },
  computed: {
    getValue() {
      return this.json.bText;
    },
    getIdContainer() {
      return `data-container-${this.json.blockID}`;
    },
    getIdText() {
      return `text-container-${this.json.blockID}`;
    },
    
  },
  mounted() {
    this.$nextTick(this.setStyle());
  },
  methods: {
    getBlockColor(id) {
      let str = this.colorSettings[id];
      if(str) return str;

      return 'rgb(230, 230, 230)';
    },
    setStyle() {
      let el = document.getElementById(this.getIdContainer);
      let text = document.getElementById(this.getIdText);

      if (el) {
        for (let i in this.json.settings) {

          let id = this.json.settings[i].ID;

          el.style.backgroundColor = this.getBlockColor(this.json.blockID);

          let prop = this.getProperty(id)

          if(prop == 'display') {
            text.style[prop] = this.json.settings[i].fieldValue ?  'none':'block';
            continue;
          }

          el.style[prop] =
            this.json.settings[i].fieldValue + "px";
        }
      }
    },
    getProperty(id) {
      return this.params[id];
    },
    openSettings(id) {
      this.$emit("openSettings", id);
    }
  },
  watch: {
    "json.settings": {
      handler: function(val) {
        this.setStyle();
      },
      deep: true
    },
    isEditText(val) {
      if(val) this.text = this.getValue;
      else this.json.bText = this.text;
    }
  }
};
</script>
<style>
.data-container {
  position: relative;
  margin: auto;
  background-color: rgb(255, 254, 179);
  width: 50%;
  height: 200px;
}
.data-container + .data-container {
  margin-top: 20px;
}
.data-value {
    position: relative;
    margin: 0 auto;
    /* padding: 0 20px; */
    width: 90%;
    min-height: 100px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: justify;
    box-sizing: border-box;
    resize: none;
}
.button {
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: rgb(255, 255, 245);
}
.button:hover {
  box-shadow: 0 0 5px rgb(122, 122, 105);
}
.button + .button {
  margin-left: 10px;
}
.bsettings {
  position: absolute;
  top: 5%;
  right: 5%;
}
</style>
