<template>
  <div id="settings-container" :class="{'show': show}">
    <div id="settings-div">
      <div class="settings-head">
        <div class="text h">Настройки</div>

        <div class="buttons-right-div">
          <div class="button" @click="saveSettings()">Сохранить</div>
          <div class="button" @click="closeSettings()">x</div>
        </div>
      </div>

      <div class="settings-prop" v-for="(prop,i) in settings" :key="i">
        <div class="text h">{{prop.Name}}</div>

        <div v-if="getFieldTypeIndexByType(prop.filedType) == 0">
          <div class="prop-value-cont">
            <input type="text" class="settings-input" v-model="prop.fieldValue" />
            <span class="postfix">px</span>
          </div>
        </div>
        <div v-else-if="getFieldTypeIndexByType(prop.filedType) == 1">
          <div class="prop-value-cont">
            <div class="select-cont" @click="isShowOptions = !isShowOptions">
              <input
                type="text"
                class="settings-input"
                :value="getCurrentSelectVlue(prop.fieldValue)"
                readonly
              />
              <div v-if="isShowOptions" class="select-options-cont">
                <div
                  class="select-option"
                  v-for="(opt,i) in selectOptions"
                  :key="i"
                  @click="()=>{prop.fieldValue = opt.value; selectedOption = opt.label}"
                >{{opt.label}}</div>
              </div>
            </div>

            <span class="postfix">px</span>
          </div>
        </div>
        <div v-else>Неизвестный тип данных!</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    show: {
      type: Boolean,
      default: false
    },
    settings: Array
  },
  data() {
    return {
      fieldType: {
        input: 0,
        select: 1
      },
      selectedOption: "",
      selectOptions: [
        { value: true, label: "Да" },
        { value: false, label: "Нет" }
      ],
      isShowOptions: false
    };
  },
  methods: {
    saveSettings() {
      this.$emit("save");
    },
    closeSettings() {
      this.$emit("close");
    },
    getCurrentSelectVlue(fieldValue) {
      let obj = this.selectOptions.find(el => {
        return el.value == fieldValue;
      });
      if (obj) return obj.label;

      return "";
    },
    getFieldTypeIndexByType(name) {
      return this.fieldType[name];
    }
  },
};
</script>

<style>
#settings-container {
  position: fixed;
  width: 500px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(180, 180, 180, 0.479);

  transform: translateX(-100%);
  transition: all 0.5s;
}
#settings-container.show {
  transform: translateX(0%);
}
.settings-head {
  display: flex;
  font-size: 20px;
  margin-top: 15px;
}
.buttons-right-div {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: 5px;
  width: fit-content;
}
.text {
  margin: 4px 15px;
}
.h {
  font-size: 26px;
}
.settings-prop {
  margin-top: 15px;
}
.prop-value-cont {
  display: flex;
  font-size: 22px;
}
.settings-input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid rgb(167, 167, 167);
  margin-left: 15px;
  font-size: 18px;
  width: 100px;
}
.postfix {
  margin-left: 15px;
}
.select-option {
  padding: 4px 0;
}
.select-option + .select-option {
  border-top: 1px solid rgb(216, 216, 216);
}
.select-options-cont {
  background-color: white;
  width: inherit;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 5px;
  box-shadow: 0 0 6px rgb(114, 114, 114);
}
</style>